{% extends "activities/base.html" %}

{% block content %}
<div class="row">
<div class="col-lg-3">
    <div class="panel">
        <div class="panel-body">
            <!-- THE SIDEPANE -->
            <h4 class="panel-heading">Add a new activity!</h4>
            <form action="{% url 'index' %}" method="post"> {% csrf_token %}
                <fieldset>
                    {% if form.errors %}
                    <div class="bs-callout bs-callout-danger">
                        <h4>Oops! There were errors in your form submission</h4>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ field }} - {{ error }} </li>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="form-group">
                        <label for="id_activity_date">Activity Date</label>
                        <input class="form-control" id="id_activity_date" name="activity_date" type="text" />
                    </div>

                    <div class="form-group">
                        <label for="id_activity_type">Activity Type</label>
                        {{ form.activity_type }}
                    </div>

                    <div class="form-group">
                        <label for="id_description">Description</label>
                        <textarea cols="40" id="id_description" name="description" rows="3" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="id_ticket_number">Ticket Number</label>
                        <input class="form-control" id="id_ticket_number" name="ticket_number" type="text" value="0" />
                    </div>

                    <div class="form-group">
                        <label for="id_hours_worked">Hours Worked</label>
                        <input id="id_hours_worked" class="form-control" name="hours_worked" type="text" value="0" />
                    </div>

                    <input type="submit" value="Add Activity!" class="btn btn-default btn-lg btn-block"/>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="col-lg-9">

    {% if messages %}
    <!-- FLASH MESSAGES -->
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ message.tags|title }}</strong> {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    
    <!-- DASHBOARD DISPLAY -->
    <h4>Your Recent Entries</h4>
    <hr />

    <div class="panel">
        <div class="panel-heading"> Today </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Activity Type</th>
                        <th>Ticket Number</th>
                        <th>Hours Worked</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in results.today %}
                    <tr>
                        <td>{{ item.activity_type.category_name }}</td>
                        <td>{{ item.ticket_number }} </td>
                        <td>{{ item.hours_worked }} </td>
                        <td>{{ item.description|truncatewords:8 }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel">
        <div class="panel-heading">Last 7 days</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Activity Type</th>
                        <th>Ticket Number</th>
                        <th>Hours Worked</th>
                        <th>Description</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in results.last_seven_days %}
                    <tr>
                        <td>{{ item.activity_type.category_name }}</td>
                        <td>{{ item.ticket_number }} </td>
                        <td>{{ item.hours_worked }} </td>
                        <td>{{ item.description|truncatewords:8 }} </td>
                        <td>{{ item.activity_date|timesince:today }} ago </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <a href="/all" class="btn btn-default">See all entries &rarr;</a>
        </div>
    </div>
    
</div>
</div>
{% endblock %}
