{% extends "activities/base.html" %}
{% load chartkick %}

{% block content %}
<div class="row">
    <div class="col-lg-3 sidenav">
        <h3>Dates</h3>
        <p class="small">Enter dates to get started</p>
        <hr />
        <form action="{% url 'my_reports' %}" method="GET">
            <fieldset>
                <!-- TODO: make this into a template -->
            {% if form.errors %}
            <div class="bs-callout bs-callout-danger">
                <h4>Oops! There were errors in your form submission</h4>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field }} - {{ error }} </li>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
                <div class="form-group">
                    <label for="id_start_date"><span class="glyphicon glyphicon-calendar"></span>   Start Date</label>    
                    <input class="form-control" id="id_start_date" name="start_date" type="text" value="{{ results.start_date|date:'SHORT_DATE_FORMAT' }}"/>
                </div>
                <div class="form-group">
                    <label for="id_end_date"><span class="glyphicon glyphicon-calendar"></span>   End Date</label>    
                    <input class="form-control" id="id_end_date" name="end_date" type="text" value="{{ results.end_date|date:'SHORT_DATE_FORMAT' }}"/>
                </div>
                <input type="submit" value="Generate Reports!" class="btn btn-primary btn-lg btn-block"/>
            </fieldset>   
        </form>
    </div>

    {% if show_data %}
        <div class="col-lg-9">
            <h3>Results</h3> 
            <p>Showing data from {{ results.start_date|date:"d M Y" }} - {{ results.end_date|date:"d M Y" }}</p>
            <a href="{% url 'export' %}?start_date={{results.start_date}}&end_date={{results.end_date}}">Export Data</a>
            <hr />
            <div class="row">
                <div class="col-lg-8">
                    {% pie_chart results.combined_work with library={"title": "Activities Distribution"} %}
                </div>
                <div class="col-lg-4">
                    <h4>Summary</h4>
                    <hr />
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Activity Type</th>
                                <th>Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in results.combined_work.items %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }} hrs</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="tab-area">
                <h1 class="tab-heading">Activities Listing</h1>
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#bugs" data-toggle="tab">Bugs</a></li>
                    <li><a href="#support" data-toggle="tab">Support</a></li>
                    <li><a href="#bau" data-toggle="tab">BAU</a></li>
                    <li><a href="#meeting" data-toggle="tab">Meeting</a></li>
                    <li><a href="#project" data-toggle="tab">Project</a></li>
                </ul>

                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="bugs">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Activity Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in results.bugs_activities %}
                                    <tr>
                                        <td>{{ item.activity_type.category_name }}</td>
                                        <td>{{ item.description|truncatewords:8 }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="support">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Activity Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in results.support_activities %}
                                    <tr>
                                        <td>{{ item.activity_type.category_name }}</td>
                                        <td>{{ item.description|truncatewords:8 }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="bau">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Activity Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in results.bau_activities %}
                                    <tr>
                                        <td>{{ item.activity_type.category_name }}</td>
                                        <td>{{ item.description|truncatewords:8 }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="meeting">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Activity Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in results.meeting_activities %}
                                    <tr>
                                        <td>{{ item.activity_type.category_name }}</td>
                                        <td>{{ item.description|truncatewords:8 }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="project">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Activity Type</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in results.project_activities %}
                                    <tr>
                                        <td>{{ item.activity_type.category_name }}</td>
                                        <td>{{ item.description|truncatewords:8 }} </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block custom_js %}
    <script src="{{ STATIC_URL }}js/jsapi.js"></script>
    <script src="{{ STATIC_URL }}chartkick.js"></script>
{% endblock %}
